body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }

 img{
   text-align: center;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }

 nav li{
    background-color: aqua;
    border: 2px solid black;
    border-radius: 25px;
    display: inline-block;
    padding: 10px;
    width:18%;
    margin-right: 15px;
 }

 main img{
    width:24%;
    box-sizing: border-box;
    padding:15px;
    border:6px dashed green;
    margin:0;
 }

 p{
    line-height:2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkslategray;
    background-color: bisque;
    margin-bottom: 10px;
    text-align: center;
 }

 .gallery{
   display: grid;
   grid-template-columns: 250px 250px;
   justify-content: center;
   justify-items: center;
   align-items: stretch;
   border: dashed;
   border-color: black;
 }

 
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   text-align: center;
   vertical-align: baseline;
}

 .gallery .img1{
   
   grid-column: 1 / span 2;
 }

 .gallery img
 {
   width:100%;
   border: dashed;
   border-color: green;
 }
